.navbar-top{
    width: 100%;
    padding-top: 3.5vw;
    padding-bottom: 2vw;
    padding-right: 4vw;
}

a.navbar-brand{
    font-size: 30px;
    line-height: 25.92px;
}

.nav-link{
    color: white;
    font-size: 18px;
    letter-spacing: 1.424px;
    font-family: brandon-grotesque;
}

.navbar-top a{
    color: black;
}

a.nav-link.active {
    text-decoration: underline;
}

.nav-item a{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-size: 18px;
}

a.active, .nav-item a:hover{
    text-decoration: underline;
      text-decoration-thickness: 2px; /* Adjust thickness as needed */
  text-underline-offset: 0.2em;
}

.profile-pic {/* Make sure the image takes up the entire container width */ /* Make sure the image takes up the entire container height */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

body{
    background-color: #0e0b0b17 ;
}

p.card-text{
    line-height: 30px;
}

mark{
    background-color: white;
    padding: 0px;
    font-size: 1.075em;
    font-weight: 500;
    margin: 2rem 0rem 1.5rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 9.9px;
}

p{
    line-height: 30px;
}

.hometext{
    padding-top: 4em;
}

.socialmedia{
    padding-top: 1.5em;
}

.socialmedia a{
    padding-right: 30px;
}
.header-page{
    text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer {
  margin-top: auto;
}

.resumebutton {
    margin-top: 20px;
}
